nav {
  display: flex;
  margin: 0 1.5rem 3rem 1.5rem;
  padding: 0.5rem 0.5rem;
  align-items: center;
  border-bottom: 1.5px solid gray;
  justify-content: space-between;
}

.logo {
  height: 3.6rem;
  width: 3.6rem;
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

nav ul li {
  padding: 5px 10px;
}

.div {
  border-radius: 0.5rem;
  height: 400px;
}

.profile {
  display: flex;
  gap: 1rem;
  margin: 0 4rem;
}

.my-missions {
  flex: 1;
}

.my-rockets {
  flex: 1;
}

.bckg {
  background-color: rgba(0, 0, 0, 0.2);
}

.link-active {
  text-decoration: none;
  color: inherit;
}

.link-active:hover {
  color: rgb(42, 106, 165);
  text-decoration: underline;
}

.link-active:active {
  color: rgb(42, 106, 165);
  text-decoration: underline;
}
